
.main-nav {
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 115px;
  background-color: #f8f8f8;
  
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
    
  ul {
      list-style: none;
      margin-top: 0;
      text-align: center;
      width:100%;
      height: 100%;
      overflow: hidden;
      li{
        &.hideScrollTop{
          opacity:0;
          display:none;
          transition: 0.2s ease;
        }
        &:hover{
          background-color:#ccc;
        }
        float: left;
        width:19.9%;
        text-align: center;
        color:#818181;  
        font-size:30px;
        font-family:Georgia;
        text-decoration: none;
        text-align: left;
        outline: none;
        transition: 0.2s ease;
        
        border-right:1px solid #acacac;
        height: 100%;


        display: inline-flex;
        justify-content: center;
        align-items: center;
        a{
          display: inline-flex;
        justify-content: center;
        align-items: center;
          
          width:100%;
          height:100%;
          color:#818181;
          text-decoration:none;
          &:hover{
            color:#000;
          }
        }
        
        &.lastest{
          border-right:0px solid #acacac;
        }
        &.newLastest{
          border-right:0px solid #acacac;
          width: 18.5% !important;
          &:hover{
            background-color:#fff;
          }
        }

         .bts{
          opacity:0;
          a.btn{
                // width: 100px;
                // text-align:center;
                // font-family: Arial !important;
                // font-weight: bold;
                // font-size: 14px;
                // border: 3px solid #ffb600;
                // padding:13px;
                // color:#ffb600;
                // text-decoration: none; 

                display: block;
                width: 144px;
                font-size: 14px;
                font-family: arial;
                font-weight: bold;
                border: 1px solid;
                padding: 10px;
                margin-bottom: 3px;
                border: 3px solid #ffb600;
                color: #ffb600;

                &:hover{
                  color:#FFF;
                  background-color:#ffb600;
                }
                
        }

    }
    }
 }

  &.sticky {
    position: fixed;
    top: 0;
    ul li{
      width: 13.5%;
      .bts{
        opacity:1;
      }
      img{
        @include centerObj();
        left: 40%;
        width: 78%;
        height: auto;

      }
      &.hideScrollTop{
        //display: inline-flex;
        display: inline-flex;
        opacity:1;
        transition: 0.2s ease;

      }
      &.lastest {
          border-right: 1px solid #acacac;
        }
    }
  }

}


    // display: block;
    // width: 144px;
    // font-size: 14px;
    // font-family: arial;
    // font-weight: bold;
    // border: 1px solid;
    // padding: 10px;
    // margin-bottom: 10px;
    // border: 3px solid #ffb600;
    // color: #ffb600;